<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/editar.css">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/editarPerfil.css">
    <script src="../js/editarPerfil.js"></script>
    <title>Editar Perfil</title>
</head>
<body>

    <!-- Cabeçalho da página -->

    <header>
        <a href="/">
            <img width="50" src="/images/icon.png" alt="Logo">
        </a>
        <a href="/perfil">Meu Perfil</a>
        <a href='/alta'>Em alta</a>
        <a href="/logout">Sair</a>
    </header>
    <main>

        <!-- Formulário para editar perfil -->

        <form action="/perfil/editar" method="post" enctype="multipart/form-data">
            <div>
                <img src="<%= user[0].foto %>" id="img-preview">
                <label for="img" id="label-img">Mudar Foto</label>
                <input type="file" name="img" id="img">
            </div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" value="<%= user[0].nome %>">
            <label for="email">Email:</label>
            <input type="email" value="<%= user[0].email %>" disabled>
            <label for="bio">Bio:</label>
            <textarea name="bio"><%= user[0].bio %></textarea>
            <button class="submit">Enviar</button>
        </form>

        <!-- Caixa de confirmação caso o usuário queira apagar a conta -->

        <dialog align="center">
            <button id="nao">x</button>
            <p>A ação de apagar sua conta é irreversível, antes de qualquer ação veja se realmente é isso que voce deseja fazer, todos os seus dados serão perdidos como postagens, likes, deslikes e comentários.</p>
            <input type="password" name="confirm_senha" class="inputs" id="senha">
            <br>
            <p class="erro" id="erro"></p>
            <br>
            <button id="sim">Excluir Conta</button>
        </dialog>

        <!-- Div de opções para apagar a conta -->

        <div class="box-del-conta">
            <button id="delContaCriador">Excluir Conta de Criador</button>
            <button id="delConta">Excluir Conta</button>
        </div>
    </main>
</body>
</html>