<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/criar.css">
    <title>Editar Postagem</title>
</head>
<body>
    <header>
        <a href="/">
            <img width="50" src="/images/icon.png" alt="Logo">
        </a>
        <a href="/perfil">Meu Perfil</a>
        <a href="/logout">Sair</a>
    </header>
    <main>
        <form action="/post/editar" method="post" enctype="multipart/form-data">
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" required>
            <label for="assunto">Assunto:</label>
            <textarea name="assunto" id="assunto" wrap="hard" required></textarea>
            <label for="tags">Tags:</label>
            <textarea name="tags" id="tags"></textarea>
            <label for="foto" class="fotoLabel">Enviar Imagem</label>
            <input type="file" name="foto" id="foto" accept="image/png, image/jpg, image/jpeg" required>
            <p class="erro" id="erro"></p>
            <input type="submit" value="Criar">
        </form>
        <h1>Preview</h1>
        <section class="preview">
            <img src="" id="imgPreview" class="imgPreview">
            <h1 class="h1-preview" id="h1-preview"></h1>
            <p class="p-preview" id="p-preview"></p>
        </section>
    </main>
</body>
</html>