main{
    position: absolute;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
h1{
    width: 100%;
    text-align: center;
}
.link{
    color: #212529;
    margin-top: -200px;
    font-size: 25px;
    width: 100%;
    text-align: center;
}