dialog{
    position: fixed;
    background-color: #212529;
    border-radius: 10px;
    padding: 5px !important;
    width: 600px;
    border: 2px solid #6f2cf5;
    z-index: 998;

}
dialog *{
    color: #6f2cf5;
    text-align: center;
}
.inputs{
    max-width: 300px !important;
}
#sim{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(180, 31, 31);
    color: #212529;
}
#nao{
    display: flex;
    width: 20px !important;
    justify-content: end;
    background-color: #212529;
    font-size: 25px;
    margin-left: 90% !important;
}

@media (max-width: 650px){
    dialog{
        width: 90%;
    }
}