@keyframes delete {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
body{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding-left: 250px;
    padding-top: 10px;
}
.img-logo{
    display: flex !important;
    z-index: 999;
}

/* Estilo da parte de editar perfil */

.header-div{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #212529;
    padding: 100px 0;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}
.img-user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #6f2cf5;
    background-color: #212529;
    margin: 10px;

    object-fit: cover;
    object-position: center;
}
.box-name-user *, .box-name-user{
    text-align: center;
    width: 100%;
    color: #6f2cf5;
}
.box-follow-user *{
    color: #6f2cf5;
}
.bio-box-user{
    max-height: 200px;
    width: 100%;
}
.bio-box-user * {
    text-align: center;
    color: #6f2cf5;
}
.btn-perfil{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: #6f2cf5;
    color: #212529;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.btn-perfil:hover{
    transform: scale(1.01);
}

/* Estilo da box dos posts */

.box-posts-perfil{
    width: 90%;
    background-color: #212529;
    border-radius: 10px;
    aspect-ratio: 10/1.5;
    padding: 10px;
    display: flex;
    align-items: center;
}
.img-not-perfil{
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
}
.box-desc-perfil{
    width: 100%;
    text-decoration: none;
    color: #6f2cf5;
    margin: 0 10px;
}
.box-desc-perfil:hover{
    text-decoration: underline;
}
.checkbox-perfil{
    margin: 0 10px;
    cursor: pointer;
}
#delBtn{
    width: 28px;
    height: 25px;
    background-color: rgb(146, 29, 29);
    border-radius: 4px;
    margin: 0 10px;
    background: url('../images/trash.png');
    background-size: cover;
    background-position: center;
}
#editBtn{
    width: 28px;
    height: 25px;
    background-color: rgb(51, 127, 242);
    border-radius: 4px;
    margin: 0 10px;
    background: url('../images/edit.png');
    background-size: cover;
    background-position: center;
}

/* Dialog */

dialog{
    position: fixed;
    background-color: #212529;
    border-radius: 10px;
    padding: 5px !important;
    width: 600px;
    border: 2px solid #6f2cf5;
    z-index: 998;

}
dialog *{
    color: #6f2cf5;
    text-align: center;
}
#yes{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #6f2cf5;
    color: #212529;
}
#nao{
    display: flex;
    width: 20px !important;
    justify-content: end;
    background-color: #212529;
    font-size: 25px;
    margin-left: 90% !important;
}
@media (max-width: 600px){
    main{
        padding: 10px;
    }
    .header-div{
        width: 95%;
        height: 400px;
        left: auto;
        justify-content: center;
        align-items: normal;

    }
}