main{
    display: grid;
}
.box-post{
    max-width: 700px;
    height: auto;
    background-color: #212529;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-post{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.title-post{
    color: #6f2cf5;
    margin: 20px 0;
}
.post{
    color: #6f2cf5;
    margin: 10px 0;
}

/* Comentários */

.input-comment{

    max-width: 700px;
    border-radius: 10px;
    background-color: #212529;
    padding: 20px 10px;
    
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
.input-text{
    background-color: transparent;
    width: 90%;
    border-bottom: 2px solid #6f2cf5;
    color: #6f2cf5;
    margin-bottom: -10px;
}
.input-btn{
    background-color: #6f2cf5;
    color: #212529;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-right: 30px;
    margin: 10px 0;
}
#comentarios{
    background-color: #212529;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px;
}
.title-comentario{
    color: #6f2cf5;
    margin: 0px 0 20px 10px;
}
.img-perfil{
    width: 45px;
    height: 45px;
    background-color: #6f2cf5;
    border-radius: 50%;
}
.box-comment{
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-comment-2{
    display: flex;
    flex-wrap: wrap;
}
.img-comment{
    background-color: #6f2cf5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name-user-comment{
    color: #6f2cf5;
    margin: 0 5px;
    font-size: 14px;

}
.text-comment{
    color: #6f2cf5;
    width: 100%;
    margin: 5px 10px;
    font-size: 16px;
}
.time-comment{
    font-size: 14px;
    color: #484849;
}
