main{
    display: grid;
}
.box-post{
    max-width: 700px;
    height: auto;
    background-color: #212529;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-post{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.title-post{
    color: #6f2cf5;
    margin: 20px 0;
}
.post{
    color: #6f2cf5;
    margin: 10px 0;
}
.input-comment{

    max-width: 700px;
    border-radius: 10px;
    background-color: #212529;
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-text{
    background-color: transparent;
    width: 70%;
    border-bottom: 2px solid #6f2cf5;
    color: #6f2cf5;
}
.input-btn{
    background-color: #6f2cf5;
    color: #212529;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
#comentarios{
    background-color: #212529;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px;
}
.title-comentario{
    color: #6f2cf5;
    margin: 20px 0 20px 10px;
}