.box-post{
    max-width: 700px;
    height: auto;
    background-color: #212529;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-post{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.title-post{
    color: #6f2cf5;
    margin: 20px 0;
}
.post{
    color: #6f2cf5;
    margin: 10px 0;
}