@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');
*{
    font-family: Noto Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
html{
    max-width: 1700px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #6f2cf5;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 70px;
    background-color: #212529;
    padding: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;

}
header a{
    color: #6f2cf5;
    text-decoration: none;
}
main{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Foto principal do index */

.main-box-img {
    display: flex;
    width: 100%;
    aspect-ratio: 16/8;
    background: #212529;
    margin-bottom: 30px;
    position: relative;
}

.main-box-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #6f2cf5 5%, rgba(0, 0, 0, 0) 30%);
    z-index: 1;
}

.main-img {
    width: 100%;
    /* object-fit: cover; */
    object-position: center;
    z-index: 0;
    filter: brightness(80%);
}
.title-main{
    position: absolute;
    bottom: 20px;
    color: white;
    z-index: 1;
    font-size: 35px;
    padding: 0 50px;
    font-size: 3.5vw;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.title-main:hover{
    text-decoration: underline;
}

/* Caixas das notícias */

.box-not{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    aspect-ratio: 13/10;
    width: 500px;
    border-radius: 10px;
    background-color: #212529;
    padding: 10px;

    text-decoration: none;
    margin: 20px;
}
.img-not{
    width: 100%;
    aspect-ratio: 13/8;
    border-radius: 10px;
    background-color: #6f2cf5;
    margin: 10px;

    object-fit: cover;
    object-position: center;
}   
.desc-not{

    width: 100%;
    text-decoration: none;
    color: #6f2cf5;
    text-align: center;
    font-size: 17px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.desc-not:hover{
    text-decoration: underline;
}
.erro{
    width: 100%;
    font-size: 15px;
    color: rgb(222, 42, 42);
    text-align: center;
}
#load{
    display: none;
    width: 50px;
    margin: 20px;
}